html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: #303137;
    margin: 0;
    scroll-behavior: smooth;
}

.main-top {
    /* display: flex; */
    background-color: #F1F3Fa;
    padding: 0;
    padding-bottom: 20px;
    margin: auto;
}

.main-section {
    margin: 40px;
    margin-bottom: 120px;
    padding: 0px;
}

.project-section {
    margin: 80px;
    margin-bottom: 120px;
    padding: 0px;
}

.body-container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.project-body-container {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: space-evenly;
    align-items: center;
}

.media-container {
    display: flex;
    align-items: center;
}

.header-text-container {
    text-align: center;
    font-size: 41px;
    font-style: bold;
    margin: 50px 0;
}

.experience-media-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.work-container {
    width: 300px;
}

.work-name {
    font-size: 24px;
    margin: 5px;
    line-height: 1.9;
}

.work-description {
    margin: 5px;
}

.project-media-container{
    border: 2px solid black;
    width: 300px;
    height: 650px;
}

.project-picture-container {
    width: 290px;
    height: 290px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.skillbar-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.title-text {
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 35px;
}

.body-item-container {
    display: flex;
    justify-content: center;
    order: 2;
    padding: 12px;
}

.body-item-container-text {
    order: 1;
    display: block;
}

.icon-left,
.icon-right {
    order: 2;
}

.profile-item-container-text {
    order: 2;
    display: block;
}

.profile-icon-left,
.profile-icon-right {
    order: 1;
}

.blurb-header {
    font-size: 24px;
    margin-top: 0;
}

.profile-header {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 25px;
}

.blurb-info {
    display: block;
    color: #646B90;
    font-size: 18px;
}

/* Contact Section */
.contact-section {
    background-color: #F1F3Fa;
    margin: 80px 0 200px 0;
    padding: 0px;
}

.contact-media-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-description {
    font-size: 30px;
    display: flex;
    width: 550px;
    height: 180px;
    justify-content: left;
}

.contact-body-container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contact-icon-left {
    order: 1;
    display: flex;
    width: 550px;
    height: 180px;
    justify-content: center;
}

.fixed_size {
    display: flex;
    width: 550px;
    height: 180px;
    align-items: center;
}

/* Footer Scetion */
.footer-wrapper {
    position: fixed;
    width: 100%;
    height: 14%;
    bottom: 0;
}

.footer {
    max-width: 1140px;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(223, 222, 221, 0.884);
}

.icon-container {
    text-align: center;
    /* max-width: 1140px;
    width: 100%; */
    margin: 0 auto;
    display: flex;
}

.btn-outline-secondary {
    background-color: white;
}

i {
    display: flex;
    font-size: 65px;
    text-align: center;
}

.btn {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#fff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
    
.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
    
.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
    
.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#444;
    color:rgba(0, 0, 0, 0.4);
}